
<div class="card border-dark m-2" >
  <div class="card-header bg-dark border-dark text-light"><h2><%= dir.name %></h2></div>
  <div class="card-body text-dark">
    <p class="card-title">ITEMS: <%= dir.items.length %> </p>
  </div>
  <div class="card-footer bg-transparent border-dark"><a href="directory_folder/<%= dir.id %>" class="btn  btn-dark bg-dark m-1">VIEW</a><a href="directory_folder/<%= dir.id %>/edit" class="btn btn-dark bg-dark m-1">EDIT</a></div>
</div>