
<div class="card border-dark p-5 m-2" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-success"><%= dir.name %></div>
  <div class="card-body text-dark">
    <h5 class="card-title">ITEMS: <%= dir.items.length %> </h5>
  </div>
  <div class="card-footer bg-transparent border-success"><a href="<%= dir.id %>" class="btn btn-primary bg-dark">VIEW</a></div>
</div>