<%= form_with url:"/login/proceed", method: :post do |f| %>
  <div class="row">
    <div class="col"></div>
    <div class="col">
        <%= f.email_field :email, class: "form-control p-2", placeholder: "Key"%>
      <%= f.password_field :key, class: "form-control p-2", placeholder: "Key"%>
      <div id= "login_errorArea"></div>
      <div class="col">
        <%= f.submit "LOGIN", style:"font-size: 1.5em;", class:"btn btn-light w-100 oswald fw"%>
      </div>
    </div>
    <div class="col"></div>
  </div>
<% end %>
