<div class="row">
  <div class="col"></div>
  <div class="col-md-6">
    <div class="card shadow p-4 mt-5">
      <h2>File Upload</h2>
      <div id = "item_form" class="">
        <%= render partial: 'upload_form', locals:{item: Item.new} %>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
